@model MultiMap.Data.Models.Etasje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Etasje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label"></label>
                <input asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="ByggId" class="control-label">Bygg</label>
                <select asp-for="ByggId" class="form-control" asp-items="ViewBag.ByggId">
                    <option value="">Please select Bygg</option>
                </select>
                <span asp-validation-for="ByggId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
